h1{
    color:skyblue;
}
img {
    width: 400px;
}
#thirdDiv {
    padding: 50px;
    border-style:double;
    border-width: 10px; 
    border-color: black;
    height: 600px;
    width: 500px;
    background-color: lightpink;
    margin: 0 auto;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}